@import "master";

.chatwindow {
  margin: 20px;
  margin-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex: 1;
  overflow-y: auto;
  background-color: #FFF - #141414;

  p {
    margin: 5px 0;
  }
}

.chat {
  display: flex;
  padding-top: 0;

  input {

    &[type=text] {
      flex: 1;
      font-size: 1.1em;
      padding: 8px;
      outline: none;
    }
    &[type=submit] {
      border: none;
      background-color: $header-color - hsl(0, 0, 10%);
      color: white;
      width: fit-content;
      font-size: 1.1em;
      padding: 0 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#users-online {
  font-style: italic;
  color: #A0A0A0;
  margin: 0;
  padding-bottom: 0;
}
