@import "master";

.a {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  color: white;
  padding: 10px;
  background-image: linear-gradient(to bottom right, $header-color, #42009E);
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  > *:not(label) {
    margin-bottom: 15px;
  }

  input[type=text] {
    padding: 2px;
  }

  input[type=submit] {
    width: fit-content;
    background-color: $light-black;
    border: 2px solid white;
    padding: 2px 12px;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.2s;

    &:hover {
      background-color: white;
      color: $light-black;
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  padding: 20px;
  flex: 1;
  height: fit-content;
  flex-direction: column;
  background-color: $light-black;
  margin: 0 10px;
  animation-name: fadeIn;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8%);
  }
  to {
    opacity: 1;
  }
}
