@import url('https://fonts.googleapis.com/css?family=Inter|Source+Sans+Pro&display=swap');

$header-color: #A869FF;
$light-black: #202020;
$dark-white: #FFF - #0A0A0A;

:root {
  font-family: "Inter", sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body > * {
  padding: 20px;
}
body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: $header-color;
  padding-left: 15px;
}
nav {
  padding: 0;
  background: $light-black;

  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;

    &:hover {
      color: $light-black;
      background: $dark-white;
    }
  }
}
h1 {
  margin: 0;
}

.serif {
  font-family: "Source Sans Pro", serif;
}
